# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num_int = 45

print(num_int)
print(type(num_int))

45
<class 'int'>

##### Assinging float

In [2]:
num_float = 234.56

print(num_float)
print(type(num_float))

234.56
<class 'float'>

### Performing Calculations on ints and floats

In [3]:
num1 = 2
num2 = 5

result = num1 + num2

print(result)

7

In [4]:
# short-hand 
result += 10 # result = result + 10

print(result)

17

##### Subtraction

In [7]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1 # result_diff = result_diff -1 

print(result_diff)

3
2

##### Multiplication

In [10]:
result_prod = num1 * num2

print(result_prod)

result_prod *= 5 #result_prod = result_prod * 5
print(result_prod)

10
50

##### Division

In [13]:
result_div = num2 / num1 
print(result)

new_result = 20/10       # Always will return a flaot, thats how division works idk why but it does
print(new_result)

result_div /= 2 #resut_div = result_div / 2
print(result_div)

17
2.0
1.25

##### Floor Division

In [15]:
result_normal = 15 / 4
print(result_normal)

# Return the floor, highest int less than or equal to value
#Styntax //

result_floor = 15 // 4
print(result_floor)

result_floor //= 2 #result_floor = result_floor // 2
print(result_floor)

3.75
3
1

##### Modulo

In [17]:
# Return the remainder of a division expression 
#Syntax is %

num3 = 48
num4 = 5

result_modulo = num3 % num4 

print(result_modulo)

result_modulo %= 2 #result_mod = result_mod % 2
print(result_modulo)

3
1

##### Exponential

In [19]:
# Sytnax i s**

num5 = 3
num6 = 2

cubed = num6 ** num5

print(cubed)

cubed **= 3 #cubed = cubed **3
print(cubed)

8
512

### String Input-Output

##### String Assignment

In [21]:
name1 = "Brain"
print(name1)

Brain

In [22]:
name2 = 'Mason'
print(name2)

Mason

In [23]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [25]:
contraction2 = 'You can't do that'
print(contraction2)

You can't do that

In [26]:
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [27]:
multi_line = """   
This is the first 
this is the second 
this is the thrid 
"""
print(multi_line)  ##The triple quotes or tripel single allows for multiple lines

This is the first
this is the second
this is the thrid

##### Escape Characters

In [28]:
print("Hello my 
      name is Mason")

SyntaxError: unterminated string literal (detected at line 1) (1614465117.py, line 1)

In [32]:
print("Hello my \
name is Mason")

Hello my name is Mason

In [34]:
# \n for creating new line 
print("Hello \nHow are you?")

Hello
How are you?

In [35]:
# \t Tab 
print("Hello \tHow are you?")

Hello 	How are you?

In [36]:
# Raw String Will do whatever is in the string
print(r"Dear Brian,\n\tI hope you are well.")

Dear Brian,\n\tI hope you are well.

##### String Concatenation

In [41]:
first = "Mason"
last = "Sinner"

full = first + ' ' + last
print(full)

# += also works! 

full += ', Jr.'
print(full)

Mason Sinner
Mason Sinner, Jr.

In [42]:
num_a = '10'
num_b = 10 

num_c = num_a + num_b

print(num_c)

TypeError: can only concatenate str (not "int") to str

In [47]:
# Strings cna be mulitplied by an int to create a new string of original repeated x times 
print('='*30)

==============================

##### Type Conversion

In [48]:
print(type(num_a))
print(type(num_b))

<class 'str'>
<class 'int'>

In [50]:
num_a_int = int(num_a)
print(num_a_int)
print(type(num_a_int))

num_c = num_a_int + num_b 
print(num_c)

10
<class 'int'>
20

##### .format() and f-strings

In [54]:
name = 'Mason'
last = 'Sinner'
hometown = 'Mission Viejo'
age = 22

print("Hello my name is {} {} and I am {} years old and I am from {}!".format(name, last, age, hometown))
print(f"Hello my name is {name} {last} and I am {age} years old and I am from {hometown}!")

Hello my name is Mason Sinner and I am 22 years old and I am from Mission Viejo!
Hello my name is Mason Sinner and I am 22 years old and I am from Mission Viejo!

##### Old Way (python 2)

In [56]:
print("Hello my name is %s and I am from %s" %(name, hometown))

Hello my name is Mason and I am from Mission Viejo

In [57]:
result = 10 + 5

print("The result is %i" %result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [69]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

add_year = int(year) + 1
new_year = str(add_year)

print(f"I drive a {color} {new_year} {make} {model}.")

I drive a blue 2023 Ford Focus.

### Booleans

In [75]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [74]:
bool_false = False
print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [76]:
# if <expression>:
#     <statement>

if True:
    print('Hello this is true')

Hello this is true

In [81]:
if False:
    print('hello this is false')

In [82]:
print('Start Code')

if True:
    print('Hello')
    print('How are you')
    
print('End Code')

Start Code
Hello
How are you
End Code

In [ ]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10 
num2 = 5
num3 = 2

In [88]:
num1 = 10 
num2 = 5
num3 = 2

if num1 > num2:
    print('num1 is greater than num2')
    
if num1 == num2 * num3:
    print('num1 is equal to num2 times num3')

num1 is greater than num2
num1 is equal to num2 times num3

## Using 'and'/'or' with If Statements

In [95]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

potential_candidate_gpa = 2.2
potential_canidate_act = 35

if potential_candidate_gpa > 2.5 and potential_canidate_act > 25:
    print('student meets minimum requirments. Move them along....')
else: 
    print('Reject Student :(')

Reject Student :(

In [97]:
potential_candidate_gpa = 3.5
potential_canidate_act = 20

if potential_candidate_gpa > 2.5 or potential_canidate_act > 25:
    print('Student meets min req')
else:
    print('Rejected :(')

Student meets min req

### Else Statements

In [104]:
# An else statement runs when the if statement above it evaluates to False

age = 17

if age > 35:
    print('You can vote and also run for president')

if age >= 18:
    print('you can vote')
else:
    print('you can\'t vote')

you can't vote

### Elif Statements

In [109]:
# An elif only runs when the if (or elif) directly above it evaluates to False

# pretend we are checking tickets at an R rated movie. If the movie goer is an dult, just say thank you
#if 14-17, check parent

required_age =18
with_parent_age = 14

has_parent = False

movie_goer_age = 12


if movie_goer_age >= required_age:
    print("Thanks, enjoy the film!")
elif movie_goer_age >= with_parent_age and has_parent:
    print("Cool beans, enjoy the film with the folks!")
elif movie_goer_age >= with_parent_age and not has_parent:
    print("You're old enough to see this with a parent, but I don't see one here...")
else:
    print("You cannot see this film until you are older.")

You cannot see this film until you are older.

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [134]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

# if person_age >= 65:
#     disc_ticket_65 = ticket - 2.50
#     print(f"Your ticket is ${disc_ticket_65}0")
# elif person_age <=9:
#     disc_ticket_9 = ticket - 5
#     print(f"Your ticket is ${disc_ticket_9}")
# else:
#     print(f"Your ticket is ${ticket}")

    
# BETTER WAY 

if person_age >= 65:
    ticket *=.75
elif person_age < 10:
    ticket *= .50

print(f"Your ticket is ${ticket:.2f}") #.2f gives two floating point digits getting that .50/.00

Your ticket is $10.00

### Lists

##### Declaring Lists

In [146]:
#Ordered collection of data; indexable (grab certain elements by index number); mutable (change values once set); 
#iterable (we can use for and go through every element and apply code); elements of the list can be of any data type

list_1 = [] #empty list declaration

names = ["Mason", 'Mike', 'Bri', 'Bob', 'Polly', 'Marsh']
print(names)

['Mason', 'Mike', 'Bri', 'Bob', 'Polly', 'Marsh']

##### Indexing a List

In [155]:
# [start: stop: step] - start is inclusive, stop is exlcusive 
#first element will be 0 
#last will be -1 

#single index
print(names[0])

#slice the list at indexx 1 and go to the end (leave stop empty)
print(names[1:])

#slice the lsit at index 1 up to but not including index 5
print(names[1:5])

#slice from beginnging of the lsit to a ceratin part of the index, but not including 
print(names[:5])

#slice list (another way to make a copy of list)
print(names[:])

#Slice every other element in the list 
print(names[1::2])

#reverse setps 
print(names[::-1])

Mason
['Mike', 'Bri', 'Bob', 'Polly', 'Marsh']
['Mike', 'Bri', 'Bob', 'Polly']
['Mason', 'Mike', 'Bri', 'Bob', 'Polly']
['Mason', 'Mike', 'Bri', 'Bob', 'Polly', 'Marsh']
['Mike', 'Bob', 'Marsh']
['Marsh', 'Polly', 'Bob', 'Bri', 'Mike', 'Mason']

##### .append()

In [156]:
#list.append(value) -> add the vale to the end of the list

print(names)
names.append('Ryan')

print(names)

['Mason', 'Mike', 'Bri', 'Bob', 'Polly', 'Marsh']
['Mason', 'Mike', 'Bri', 'Bob', 'Polly', 'Marsh', 'Ryan']

##### .insert()

In [157]:
# list.insert(index,value) -> add the value at index and shift everything after down 1 

print(names)

names.insert(2, 'Kevin')

print(names)

['Mason', 'Mike', 'Bri', 'Bob', 'Polly', 'Marsh', 'Ryan']
['Mason', 'Mike', 'Kevin', 'Bri', 'Bob', 'Polly', 'Marsh', 'Ryan']

##### .pop()

In [164]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
print(names)

best_instructor = names.pop()
print(names)
print(best_instructor)

['Kevin', 'Bri', 'Bob']
['Kevin', 'Bri']
Bob

In [166]:
names.append('Mason')
names.append('Adam')
names.append('Ryan')


##### .remove()

In [167]:
# value to be removed , not index
# list.remove(value to remove) - remove the FIRST value that MATCHES
names.remove('Ryan')
print(names)

['Kevin', 'Bri', 'Mason', 'Adam']

##### del()

In [ ]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

##### Concatenating Two Lists

In [ ]:
# will append two lists together, not add up the elements in each list

##### Lists Within Lists

In [ ]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

### For Loops

In [169]:
# for <keyword> in <iterable>:
#     <statement>

print('Begin Loop')

for x in[5,10,15,20,25,30]:
    print(x)
    
print('End Loop')

Begin Loop
5
10
15
20
25
30
End Loop

##### Continue Statement

In [ ]:
list_to_use = [10,20,30,40,50,60,70,80,90]

In [ ]:
# will continue to next iteration

In [175]:
list_to_use = [10,20,30,40,50,60,70,80,90]

for element in list_to_use:
    if element ==50:
        continue
    print(element)

10
20
30
40
60
70
80
90

##### Break Statement

In [ ]:
# will break out of current loop

In [176]:
list_to_use = [10,20,30,40,50,60,70,80,90]

for element in list_to_use:
    if element ==50:
        break
    print(element)

10
20
30
40

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [177]:
for num in list_to_use:
    pass
    
print('Hello World')

Hello World

##### Nested/Double For Loops

### While Loops

In [179]:
# while <conditional>:
#     <statement to run while condition is true>

from random import randint

random_number = randint(1,10)
random_number

4

In [192]:
random_number = randint(1,10)
while random_number != 5:
    print(random_number)
    random_number = randint(1,10)
    
print('Finally, ', random_number)

10
2
1
1
8
10
7
7
4
8
3
6
9
4
2
1
2
3
9
10
1
8
7
2
Finally,  5

##### Looping 'While True'

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [299]:
list_num = []

num = 0

while num < 1000:
        num += 1
        sum = num ** 3
        list_num.append(num)
        if sum > 999:
                break
                
print(list_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [346]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

is_prime = range(1, 100)
prime_list = []

for num in is_prime:
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
            else:
                prime_list.append(num)
                break
    
print(prime_list)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [360]:
user_age = input("Tell us your age ")

if user_age > '65':
    print("You're a senior!")
elif user_age <= '17':
    print("You're an kid")
else: 
    print("You're an adult")
    
#can't get it to work

Tell us your age 12
You're an kid

In [361]:
user_age = input("Tell us your age ")

if user_age > '65':
    print("You're a senior!")
elif user_age <= '17':
    print("You're an kid")
else: 
    print("You're an adult")
    
#can't get it to work

Tell us your age 18
You're an adult

In [362]:
user_age = input("Tell us your age ")

if user_age > '65':
    print("You're a senior!")
elif user_age <= '17':
    print("You're an kid")
else: 
    print("You're an adult")
    
#can't get it to work

Tell us your age 66
You're a senior!